<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" href="/static/images/favicon.ico" />
    <!-- CSS -->
    {% assets "css_all" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    <!-- JAVASCRIPT -->
    {% assets "js_head" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </head>

  <body class="bg-gray-100 dark:text-white dark:bg-gray-800">
    {% include 'includes/navigation.html' %}

    <main class="px-4 py-8">
      {% block content %}{% endblock content %}
    </main>

    {% include 'includes/footer.html' %}
    {% block scripts %}{% endblock scripts %}
    <!-- JAVASCRIPT DEFER -->
    {% assets "js_defer" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </body>
</html>
