{% extends 'layouts/base.html' %}
{% import 'components/input.html' as input %}
{% import 'components/button.html' as button %}
{% block title %}
  Home
{% endblock title %}
{% block content %}
  <div class="max-w-2xl mx-auto">
    {{ input.error(id="error-message") }}

    <form
      id="download-form"
      data-csrf-token="{{ csrf_token() }}"
      class="flex gap-4"
    >
      {{ input.text(name="url", id="url", placeholder="e.g. https://www.reddit.com/r/funny/comments/12cl1x2/reddit_post_title") }}
      {{ button.download(id="download-button") }}
    </form>
  </div>
{% endblock content %}
{% block scripts %}
  {% assets "reddit_script" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
