{% extends 'layouts/base.html' %}
{% import 'components/input.html' as input %}
{% import 'components/button.html' as button %}
{% block title %}
  Reddit Video Downloader
{% endblock title %}
{% block content %}
  <div class="container max-w-2xl mx-auto">
    <div
      class="flex flex-col items-center mb-4 p-4 mx-auto border border-gray-300 dark:border-gray-600 rounded-lg"
    >
      <div class="mb-6 text-center">
        <h1 class="text-3xl font-semibold mb-1 select-none">
          Reddit Video Downloader
        </h1>
        <p class="tracking-tight">
          Download reddit videos with sound and video easily. No software or
          registration required. Just copy and paste the link and choose the
          format and quality. Share your videos with others or watch them
          offline. Enjoy Reddit's amazing content anytime, anywhere.
        </p>
      </div>
      <div class="w-full mb-2">
        {{ input.error(id="error-message") }}

        <form id="download-form" class="flex gap-4">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          {{ input.text(name="url", id="url", placeholder="e.g. https://www.reddit.com/r/funny/comments/12eoavt/exclusive_footage_of...") }}
          {{ button.download(id="download-button") }}
          {{ button.loading(id="loading-button") }}
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
{% block scripts %}
  {% assets "js_reddit" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
