<!-- TEXT INPUT -->
{%- macro text(name="", id="", placeholder="", value="", maxlength="1000") -%}
  <input
    autocomplete="off"
    autofocus=""
    class="px-2 py-1.5 border w-full placeholder-gray-500 dark:placeholder-gray-400 border-gray-300 bg-gray-50 dark:bg-gray-700 rounded"
    id="{{ id }}"
    minlength="{{ minlength }}"
    maxlength="{{ maxlength }}"
    name="{{ name }}"
    placeholder="{{ placeholder }}"
    type="url"
    value="{{ value }}"
    required
  />
{%- endmacro -%}
<!-- INPUT ERROR -->
{%- macro error(text="Error") -%}
  <span class="mb-1 text-sm text-red-600 dark:text-red-500">{{ text }}</span>
{%- endmacro -%}
